#pe-theater-shader{
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	background-color: rgb(10, 10, 10);
	cursor: pointer;
	z-index: 100000;
}

#pe-theater-video-container{
	display: none;
	position: fixed;
	top: 53px;
	left: 50%;
	padding: 10px;
	margin: 0px;
	z-index: 100002;
}

#youtube-video{
	width: 100%;
	height: 100%;
}

#pe-theater-controller{
	display: none;
	position: fixed;
	height: 34px;
	width: 300px;
	top: 0px;
	left: 50%;
	border-color: #DDDDDD;
	border-width: 0px 2px 2px 2px;
	border-style: solid;
	border-radius: 0px 0px 5px 5px;
	margin-left: -150px;
	background-color: #222222;
	overflow-x: hidden;
	z-index: 100002;
}

.pe-theater-video-selector{
	display: none;
	position: relative;
	width: 275px;
	margin: auto;
	font: 16px/100% Times New Roman;
}